<div id="<%= dom_id job_application %>">
  <p>
    <strong>会社名:</strong>
    <%= job_application.company_name %>
  </p>

  <p>
    <strong>ポジション:</strong>
    <%= job_application.position %>
  </p>

  <p>
    <strong>技術スタック:</strong>
    <%= job_application.tech_stack %>
  </p>

  <p>
    <strong>ステータス:</strong>
    <%= job_application.status %>
  </p>

  <p>
    <strong>興味レベル:</strong>
    <%= job_application.interest_level %>
  </p>

  <p>
    <strong>応募日:</strong>
    <%= job_application.applied_on %>
  </p>

  <p>
    <strong>一次面接日:</strong>
    <%= job_application.first_interview_on %>
  </p>

  <p>
    <strong>二次面接日:</strong>
    <%= job_application.second_interview_on %>
  </p>

  <p>
    <strong>最終面接日:</strong>
    <%= job_application.final_interview_on %>
  </p>

  <p>
    <strong>オファー受領日:</strong>
    <%= job_application.offer_received_on %>
  </p>

  <p>
    <strong>オファー回答期限:</strong>
    <%= job_application.offer_response_deadline %>
  </p>

  <p>
    <strong>懸念事項:</strong>
    <%= job_application.concern %>
  </p>

  <p>
    <strong>質問:</strong>
    <%= job_application.questions %>
  </p>

  <p>
    <strong>メモ:</strong>
    <%= job_application.memo %>
  </p>

</div>
