<div id="<%= dom_id job_application %>">
  <p>
    <strong>Company name:</strong>
    <%= job_application.company_name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= job_application.position %>
  </p>

  <p>
    <strong>Tech stack:</strong>
    <%= job_application.tech_stack %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= job_application.status %>
  </p>

  <p>
    <strong>Interest level:</strong>
    <%= job_application.interest_level %>
  </p>

  <p>
    <strong>Applied on:</strong>
    <%= job_application.applied_on %>
  </p>

  <p>
    <strong>First interview on:</strong>
    <%= job_application.first_interview_on %>
  </p>

  <p>
    <strong>Second interview on:</strong>
    <%= job_application.second_interview_on %>
  </p>

  <p>
    <strong>Final interview on:</strong>
    <%= job_application.final_interview_on %>
  </p>

  <p>
    <strong>Offer received on:</strong>
    <%= job_application.offer_received_on %>
  </p>

  <p>
    <strong>Offer response deadline:</strong>
    <%= job_application.offer_response_deadline %>
  </p>

  <p>
    <strong>Concern:</strong>
    <%= job_application.concern %>
  </p>

  <p>
    <strong>Questions:</strong>
    <%= job_application.questions %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= job_application.memo %>
  </p>

</div>
