<p style="color: green"><%= notice %></p>

<% content_for :title, "応募状況" %>

<h1>応募状況</h1>

<div id="job_applications" class="job_applications" >
  <% columns = JobApplication.column_names - ["id", "created_at", "updated_at", "tech_stack", "concern", "questions", "memo"]%>
  <table class="job-application-table">
    <thead>
      <tr>
        <% columns.each do |column_name|%>
          <th><%= JobApplication.human_attribute_name(column_name) %></th>
        <% end %>
        <th>
          詳細
        </th>
      </tr>
    </thead>

    <tbody>
      <% @job_applications.each do |job_application| %>
        <tr>
          <% columns.each do |column_name| %>
            <td>
              <%= job_application[column_name] %>
            </td>
          <% end %>
          <td>
            <%= link_to "◻︎", job_application %>
          </td>
        </tr>
      <% end %>
     
    </tbody>
  </table>
</div>

<%= link_to "新しい求人応募を作成", new_job_application_path %>
