<p style="color: green"><%= notice %></p>

<%= render @job_application %>

<div>
  <%= link_to "この求人応募を編集", edit_job_application_path(@job_application) %> |
  <%= link_to "求人応募一覧に戻る", job_applications_path %>

  <%= button_to "この求人応募を削除", @job_application, method: :delete %>
</div>
